<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.sailrs.NewMessage</string>

    <key>ProgramArguments</key>
      <array>
      <string>/usr/local/bin/newmessage.sh</string>
      </array>

    <key>StandardOutPath</key>
      <string>/tmp/newmessage.log</string>

    <key>WatchPaths</key>
      <array>
	<string>~/Library/Messages/chat.db</string>
	<string>~/Library/Messages/chat.db-wal</string>
      </array>
</dict>
</plist>
